In [102]:
import numpy as np
import pandas as pd
import seaborn as sns

In [103]:
df = pd.read_csv('https://raw.githubusercontent.com/rafifaditio/Dataset/main/BMR.csv')

In [104]:
df.head(10)

   Age  Gender  Height (cm)  Weight (kg)  Index
0   21    Male          162           58      2
1   44  Female          188           80      2
2   45    Male          177           61      2
3   50    Male          192          101      3
4   28  Female          195           61      1
5   25  Female          180           58      1
6   20  Female          188          115      4
7   25    Male          152          132      5
8   48    Male          174          107      4
9   29    Male          182           70      2

In [105]:
df['Height (cm)']

0      162
1      188
2      177
3      192
4      195
      ...
145    142
146    162
147    174
148    197
149    198
Name: Height (cm), Length: 150, dtype: int64

In [106]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [107]:
print(type(df.values))

<class 'numpy.ndarray'>

In [108]:
df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of        Age  Gender  Height (cm)  Weight (kg)  Index
0    False   False        False        False  False
1    False   False        False        False  False
2    False   False        False        False  False
3    False   False        False        False  False
4    False   False        False        False  False
..     ...     ...          ...          ...    ...
145  False   False        False        False  False
146  False   False        False        False  False
147  False   False        False        False  False
148  False   False        False        False  False
149  False   False        False        False  False

[150 rows x 5 columns]>

In [109]:
df['Gender'].value_counts()

Male      77
Female    73
Name: Gender, dtype: int64

In [110]:
df.values

array([[21, 'Male', 162, 58, 2],
       [44, 'Female', 188, 80, 2],
       [45, 'Male', 177, 61, 2],
       [50, 'Male', 192, 101, 3],
       [28, 'Female', 195, 61, 1],
       [25, 'Female', 180, 58, 1],
       [20, 'Female', 188, 115, 4],
       [25, 'Male', 152, 132, 5],
       [48, 'Male', 174, 107, 4],
       [29, 'Male', 182, 70, 2],
       [26, 'Female', 181, 94, 3],
       [35, 'Male', 185, 60, 1],
       [35, 'Female', 190, 118, 4],
       [39, 'Female', 162, 64, 2],
       [42, 'Male', 179, 56, 1],
       [36, 'Male', 184, 57, 1],
       [33, 'Female', 197, 154, 4],
       [33, 'Female', 198, 50, 0],
       [33, 'Male', 155, 51, 2],
       [44, 'Female', 190, 50, 0],
       [25, 'Male', 174, 90, 3],
       [39, 'Male', 166, 61, 2],
       [20, 'Female', 193, 61, 1],
       [38, 'Female', 186, 127, 4],
       [36, 'Female', 181, 80, 2],
       [25, 'Male', 178, 117, 4],
       [35, 'Male', 186, 68, 2],
       [36, 'Female', 192, 90, 2],
       [40, 'Male', 190, 95, 3],
       [40, 'Female', 191, 54, 0],
       [38, 'Male', 190, 80, 2],
       [35, 'Male', 188, 54, 0],
       [36, 'Male', 156, 137, 5],
       [40, 'Male', 191, 62, 1],
       [34, 'Male', 188, 100, 3],
       [48, 'Female', 172, 62, 2],
       [22, 'Female', 175, 83, 2],
       [23, 'Female', 150, 60, 3],
       [45, 'Female', 169, 88, 2],
       [45, 'Female', 176, 54, 1],
       [26, 'Female', 159, 80, 4],
       [41, 'Female', 185, 52, 0],
       [24, 'Male', 167, 151, 5],
       [38, 'Female', 156, 52, 2],
       [40, 'Female', 196, 50, 0],
       [44, 'Female', 163, 57, 0],
       [34, 'Female', 157, 56, 2],
       [20, 'Male', 165, 68, 2],
       [29, 'Male', 145, 142, 5],
       [22, 'Male', 191, 62, 1],
       [27, 'Male', 154, 145, 5],
       [43, 'Male', 194, 115, 4],
       [24, 'Female', 183, 50, 0],
       [26, 'Female', 179, 158, 5],
       [26, 'Female', 165, 57, 2],
       [21, 'Male', 190, 50, 0],
       [33, 'Male', 176, 77, 2],
       [30, 'Female', 174, 65, 2],
       [40, 'Female', 163, 63, 2],
       [46, 'Male', 167, 64, 2],
       [21, 'Female', 178, 65, 2],
       [22, 'Male', 159, 140, 5],
       [46, 'Female', 164, 59, 2],
       [42, 'Female', 150, 50, 2],
       [47, 'Male', 184, 83, 2],
       [45, 'Male', 182, 73, 2],
       [37, 'Female', 148, 54, 2],
       [31, 'Male', 187, 62, 1],
       [33, 'Female', 183, 79, 2],
       [26, 'Male', 157, 56, 2],
       [22, 'Male', 195, 81, 2],
       [44, 'Female', 160, 51, 2],
       [48, 'Male', 178, 52, 1],
       [44, 'Male', 195, 69, 1],
       [44, 'Male', 141, 86, 5],
       [26, 'Female', 189, 132, 4],
       [30, 'Male', 179, 110, 4],
       [33, 'Female', 145, 79, 4],
       [36, 'Male', 193, 54, 0],
       [24, 'Male', 147, 84, 4],
       [28, 'Male', 181, 78, 2],
       [29, 'Female', 171, 131, 5],
       [20, 'Male', 154, 54, 2],
       [39, 'Male', 188, 123, 4],
       [20, 'Male', 158, 95, 4],
       [27, 'Male', 187, 138, 4],
       [23, 'Male', 182, 50, 0],
       [38, 'Male', 189, 87, 2],
       [28, 'Female', 184, 86, 3],
       [26, 'Male', 168, 158, 5],
       [33, 'Male', 196, 69, 1],
       [40, 'Male', 180, 75, 2],
       [39, 'Female', 168, 59, 2],
       [24, 'Female', 167, 58, 2],
       [43, 'Male', 155, 57, 2],
       [50, 'Female', 179, 67, 2],
       [35, 'Female', 153, 78, 2],
       [40, 'Female', 184, 76, 2],
       [35, 'Female', 180, 59, 1],
       [37, 'Female', 191, 68, 2],
       [29, 'Female', 180, 60, 2],
       [37, 'Male', 172, 105, 4],
       [44, 'Female', 156, 106, 5],
       [47, 'Female', 172, 90, 4],
       [48, 'Male', 166, 70, 3],
       [27, 'Female', 157, 52, 2],
       [46, 'Female', 177, 81, 3],
       [40, 'Male', 197, 88, 2],
       [37, 'Female', 153, 51, 2],
       [31, 'Male', 154, 112, 5],
       [31, 'Male', 165, 62, 2],
       [23, 'Male', 191, 79, 2],
       [34, 'Female', 151, 55, 2],
       [48, 'Female', 195, 65, 1],
       [41, 'Male', 161, 115, 5],
       [34, 'Female', 199, 92, 2],
       [29, 'Male', 188, 57, 1],
       [23, 'Female', 169, 97, 4],
       [45, 'Male', 193, 65, 1],
       [23, 'Male', 199, 99, 2],
       [27, 'Male', 168, 50, 1],
       [42, 'Male', 148, 60, 3],
       [39, 'Female', 183, 76, 2],
       [33, 'Male', 188, 65, 1],
       [36, 'Male', 180, 73, 2],
       [32, 'Male', 181, 51, 0],
       [29, 'Female', 153, 77, 4],
       [43, 'Female', 173, 82, 2],
       [49, 'Female', 187, 70, 2],
       [40, 'Female', 185, 81, 2],
       [39, 'Female', 157, 60, 2],
       [30, 'Male', 187, 80, 2],
       [43, 'Female', 169, 54, 2],
       [45, 'Male', 190, 83, 2],
       [27, 'Male', 185, 76, 2],
       [33, 'Female', 180, 70, 2],
       [24, 'Female', 178, 79, 2],
       [39, 'Female', 170, 53, 1],
       [27, 'Male', 188, 81, 2],
       [26, 'Male', 179, 56, 1],
       [37, 'Female', 177, 61, 2],
       [38, 'Male', 199, 156, 4],
       [35, 'Male', 154, 111, 5],
       [24, 'Female', 172, 67, 2],
       [29, 'Female', 169, 103, 4],
       [33, 'Male', 142, 71, 4],
       [32, 'Female', 162, 58, 2],
       [29, 'Male', 174, 54, 1],
       [33, 'Female', 197, 72, 2],
       [23, 'Male', 198, 50, 0]], dtype=object)

In [111]:
df_tips = sns.load_dataset('tips')

In [124]:
def BMR_LAKI(BB,TB,U):
    BMR_laki_laki= {66 + (13.7*BB)+(5*TB)-(6.8*U)}
    return BMR_laki_laki

In [125]:
BMR_LAKI(58,162,21)

{1527.8}

In [126]:
def BMR_PEREMPUAN(BB,TB,U):
  BMR_perempuan = 655 + (9.6*BB) + (1.8*TB)-(4.7*U)
  return BMR_perempuan

In [127]:
BMR_PEREMPUAN(58,162,21)

1404.7

In [128]:
for i in range(len(df)):
    print(df.iloc[i, 0], df.iloc[i, 2])

21 162
44 188
45 177
50 192
28 195
25 180
20 188
25 152
48 174
29 182
26 181
35 185
35 190
39 162
42 179
36 184
33 197
33 198
33 155
44 190
25 174
39 166
20 193
38 186
36 181
25 178
35 186
36 192
40 190
40 191
38 190
35 188
36 156
40 191
34 188
48 172
22 175
23 150
45 169
45 176
26 159
41 185
24 167
38 156
40 196
44 163
34 157
20 165
29 145
22 191
27 154
43 194
24 183
26 179
26 165
21 190
33 176
30 174
40 163
46 167
21 178
22 159
46 164
42 150
47 184
45 182
37 148
31 187
33 183
26 157
22 195
44 160
48 178
44 195
44 141
26 189
30 179
33 145
36 193
24 147
28 181
29 171
20 154
39 188
20 158
27 187
23 182
38 189
28 184
26 168
33 196
40 180
39 168
24 167
43 155
50 179
35 153
40 184
35 180
37 191
29 180
37 172
44 156
47 172
48 166
27 157
46 177
40 197
37 153
31 154
31 165
23 191
34 151
48 195
41 161
34 199
29 188
23 169
45 193
23 199
27 168
42 148
39 183
33 188
36 180
32 181
29 153
43 173
49 187
40 185
39 157
30 187
43 169
45 190
27 185
33 180
24 178
39 170
27 188
26 179
37 177
38 199
35 154
24 172
29 169
33 142
32 162
29 174
33 197
23 198

In [113]:
df["BMR"] = 66 + (13.7 * df["Weight (kg)"] ) + (5*df["Height (cm)"] - (6.8 * df["Age"]))
df
if gender =

     Age  Gender  Height (cm)  Weight (kg)  Index     BMR
0     21    Male          162           58      2  1527.8
1     44  Female          188           80      2  1802.8
2     45    Male          177           61      2  1480.7
3     50    Male          192          101      3  2069.7
4     28  Female          195           61      1  1686.3
..   ...     ...          ...          ...    ...     ...
145   33    Male          142           71      4  1524.3
146   32  Female          162           58      2  1453.0
147   29    Male          174           54      1  1478.6
148   33  Female          197           72      2  1813.0
149   23    Male          198           50      0  1584.6

[150 rows x 6 columns]

In [ ]:
if "Gender"